.footer__container {
    width: 100%;
    height: 296px;
    background-color: #E8E8E8;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left{
    grid-column-start: 1;
}

.right{
    grid-column-start: 2;
    grid-row-start: 1;
}

.center{
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;
}



