input, select { 
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form {
  display: grid; 
  place-items: center;
}

.formItem{
  width: 600px;
  margin: 5px;
  padding: 5px;
}


button{
  width: 600px;
  margin: 5px;
  padding: 5px;
}